{% extends 'base.html' %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-danger text-white">
                    <h5 class="mb-0">Delete Confirmation</h5>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <p class="lead">Are you sure you want to delete the selected movie?</p>
                        <div class="text-center">
                            <button type="submit" class="btn btn-danger">Delete</button>
                            <a href="{% url 'moviestore:index' %}" class="btn btn-secondary">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
